@charset "utf-8";

.header{

	background-color:#2b2b2b;
	width:1000px;
	height:80px;
}

.title{	
	font-family: 'Kodchasan', sans-serif;
	float:left;
	color:#ffffff;
	padding:20px;
}

ul{
	
}

.main{
	background-color:#ffffff;
	width:1000px;
	height:1500px;
}

.footer{
	background-color:#696969;
	width:1000px;
	height:500px;
}




li{	
	
	color:#ffffff;
	float:right;
	padding:50px 20px 20px 20px;
	list-style:none;
}


